@model Kronos.ViewModels.EventViewModel
@using DayPilot.Web.Mvc
@using DayPilot.Web.Mvc.Events.Calendar

<h1><b>Kalendarz pracowniczy</b></h1>
<hr />
<div class="space" style="text-align: center;">
    <a class="btn btn-success" style="float:left" href="javascript:calendar.commandCallBack('previous');"><i class="fa fa-arrow-left"></i> Poprzedni tydzień</a>
    <a class="btn btn-success" href="javascript:calendar.commandCallBack('today');">Dzisiaj</a>
    <a class="btn btn-info" href="javascript:calendar.commandCallBack('refresh');"><i class="fa fa-refresh"></i> Odśwież</a>
    <a class="btn btn-success" style="float:right" href="javascript:calendar.commandCallBack('next');">Następny tydzień <i class="fa fa-arrow-right"></i></a>
</div>

<br />
<div>
@Html.DayPilotCalendar("calendar", new DayPilotCalendarConfig
{
    BackendUrl = Url.Content("~/Calendar/Backend"),
    EventMoveHandling = EventMoveHandlingType.CallBack,
    EventResizeHandling = EventResizeHandlingType.CallBack,
    TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.JavaScript,
    TimeRangeSelectedJavaScript = "createEvent(start, end, resource);",
    ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
    HeightSpec = DayPilot.Web.Mvc.Enums.Calendar.HeightSpec.Full,
})
</div>

<hr />
<br />

<script type="text/javascript">
    function createEvent(start, end, resource) {
        var modal = new DayPilot.Modal();
        modal.top = 60;
        modal.width = 350;
        modal.opacity = 70;
        modal.border = "10px solid #d0d0d0";
        modal.closed = function () {
            if (this.result == "OK") {
                calendar.commandCallBack('refresh');
            }
            calendar.clearSelection();
        };
        modal.height = 250;
        modal.showUrl("/Calendar/Create?start=" + start.toString() + "&end=" + end.toString());
    }
</script>